.hui>h1{
    font-family: "Open Sans";
   
}


.ttb{
    margin-top: 26px;
    margin-left: 26px;
}
.her{
    display: flex;
}
.container{
    margin-top: 20px;
    margin-left: 643px;
}
.eeeee31r{
    margin-top: 20px;
}
.hui228>a{
    text-decoration: none;
}
.hui228>a>p{
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans";
    color: #726E8D;
}
.hui228{
    display: flex;
}
.hjk{
    margin-top: 26px;
    display: flex;
    margin-left: 584px;
}
.gh{
    margin-right: 16px;
}
.her55{
    display: flex;
    justify-content: center;
}
.e{
    margin-left: 44px;
}
.her99{
    background-color: #2A254B;
    width: 1280px;
    height: 584px;
    margin-left: 80px;
}
.good>h2{
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 480px;
    padding-top: 60px;
    padding-left: 60px;
}
.good>button{
    padding: 16px 32px 16px 32px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 41px;
    background-color: #F9F9F926;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.5s;
}
.good>button:hover{
    background-color: #FFFFFF;
    color: #2A254B;
}
.good>p{
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #FFFFFF;
    padding-left: 60px;
    margin-top: 196px;
    max-width: 602px;
}
.her99{
    display: flex;
    margin-top: 60px;
}
.good1{
    margin-left: 98px;
}
.gpeg>h2{
    font-size: 24px;
    font-weight: 400;
    font-family: "Open Sans";
}
.gpeg{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.gpeg1>h3{
    font-size: 20px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #2a254b;
}
.gpeg1>p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #2a254b;   
    max-width: 300px;
}
.gpeg2{
    display: flex;
    margin-left: 86px;
    margin-top: 51px;
}
.k{
    margin-left: 58px;
}
.sheet>h2{
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: 400;
}
.gud{
    margin-top: 86px;
    margin-left: 80px;
    color: #2A254B;
}
.card>h3{
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #2A254B;
    margin-top: 24px;
}
.card>p{
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #2A254B;
    margin-top: 18px;
}
.card{
    margin-top: 33px;
}
.negr{
    display: flex;
}
.a{
    margin-left: 20px;
}
.klar>button{
    padding: 16px 32px 16px 32px;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    margin-left: 60px;
    margin-top: 41px;
    background-color: #F9F9F9;
    border: none;
    color: #2A254B;
    cursor: pointer;
    transition: 0.5s;
}
.klar>button:hover{
    background-color: grey;
    color: #2A254B;
}
.ggfhf{
    display: flex;
    justify-content: center;
    margin-top: 35px;
}
.der1>h2{
    font-size: 32px;
    font-family: "Open Sans";
    font-weight: 400;
}
.der{
    margin-left: 80px;
    margin-top: 100px;
}
.her43>h2{
    font-size: 36px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #2A254B;
}
.her43>p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #2A254B;
    max-width: 470px;
    margin-top: 16px;
    padding-left: 50px;
}
.her43{
    background-color: #FFFFFF;
    width: 1273px;
    height: 364px;
   
}
.fer4{
    background-color: #f9f9f9;
    width: 1440px;
    height: 481px;
}
.fer69{
    padding-top: 30px;
    padding-left: 50px;
    
}
.fer4{
    margin-top: 48px;
}
.her43{
    padding-left: 351px;
    padding-top: 68px;

}
.hui97>input{
    font-weight: 400;
    font-size: 16px;
    font-family: "Open Sans";
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 32px;
    padding-right: 205px;
    border: none;
    background-color: #f9f9f9;
    margin-left: 3px;
    cursor: pointer;
    transition: 0.5s;
   
}
.hui97>input:hover{
    background-color: #2A254B26;
}

.her228>button{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    background-color: #2A254B;
    color: #ffffff;
    padding: 16px 32px 18px 32px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
}
.her228>button:hover{
    background-color: #726E8D;
    color: #2A254B;
}

.hui97{
    display: flex;
}
.huich{
    background-color: #ffffff;
    width: 1440px;
    height: 603px;

}
.dart>h2{
    font-size: 24px;
    font-weight: 400;
    font-family: "Open Sans";
    max-width: 536px;
    padding-top: 50px;
    padding-left: 84px;
    color: #2A254B;
   
}
.dart>h3{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    max-width: 536px;
    padding-top: 25px;
    padding-left: 84px;
    color: #505977;
}
.dart>p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    max-width: 536px;
    padding-top: 25px;
    padding-left: 84px;
    color: #505977;
}
.dart>button{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #2A254B;
    padding: 16px 32px 16px 32px;
    background-color: #f9f9f9;
    border: none;
    margin-left: 84px;
    margin-top: 180px;
    cursor: pointer;
    transition: 0.5s;
}
.dart>button:hover{
    background-color: grey;
    color: #2A254B;
}

.huich{
    display: flex;
}
.gudik{
    margin-left: 32px;
}
.section{
    background-color: #2A254B;
    width: 1440px;
    height: 380px;

}
.svg>a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
}
.svg{
    display: flex;
    flex-direction: column;
    padding-top: 58px;
    padding-left: 82px;
}
.nz{
    margin-top: 12px;
}
.footer{
    display: flex;
}
.berd3{
    margin-left: 109px;
}
.berd65{
    margin-left: 133px;
}
.natur>p{
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #FFFFFF;
}
.natur{
    padding-top: 42px;
    margin-left: 109px;
}
.wceec>input{
    font-size: 16px;
    font-weight: 400;
    padding: 17px 52px 17px 32px;
    background-color: #F9F9F926;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.wceec>input:hover{
    background-color: #505977;
}
.eccebhc>button{
    color: #2A254B;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 16px 32px 16px 32px;
    border: none;
    cursor: pointer;
    transition: 0.5s;

}
.eccebhc>button:hover{
    background-color: grey;
}

.wceec{
    display: flex;
}
.kal>img{
    padding-left: 58px;
    margin-top: 48px;
}
.wxw2>p{
    padding-left: 58px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Open Sans";
    color: #FFFFFF;
}
.bun{
    color: #FFFFFF;
    padding-left: 60px;
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
}
.bqucb>img{
    width: 50px;
    height: 50px;
    margin-top: 20px;
}


